*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #94a89157;
    text-align: center;
}

.foto-principal {
    width: 100px;
    border-radius: 50%;
    border: 3px solid #0F6104;
    box-shadow: 0 0 20px white;
}   

h1 {
    font-family:'Nunito', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 5px;
    color:#0F6104;
}

h2 {
    font-size: 16px;
    font-weight: lighter;
    color: #FFF;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display:flex;
    justify-content: space-around;
    list-style: none;
    margin: 30px 0;
    
}

.social img {
    width: 33px;
}

.links-list {
    text-align: center;
    list-style: none;
    margin: 0 50px 0px 50px;
}

.links-list li {
    display: block;
    margin: 20px 10px;
    border-style: solid;
    border-radius: 10px;
    background: #00000000;
}

.links-list li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #0F6104;
    font-weight: bold
    
}

.links-list li a span {
    color:#FFF;
    display: block;
    font-weight:lighter;
}

